<section [id]="id" class="mt-10 md:mt-14 scroll-mt-24" data-aos="fade-up" data-aos-delay="100">
  <div class="glass rounded-3xl p-6 md:p-10">
    <div class="flex items-center justify-between flex-wrap gap-3 mb-6">
      <h2 class="text-xl md:text-2xl font-semibold">{{title}}</h2>
      <p class="text-xs md:text-sm text-slate-400">{{description}}</p>
    </div>
    <div class="relative pl-6 md:pl-10">
      <!-- vertical line -->
      <div class="absolute left-3 md:left-4 top-0 bottom-0 w-px bg-white/15"></div>

      @for (item of timelineItems; track $index) {
      <app-timeline-item [item]="item"></app-timeline-item>
      }

    </div>
  </div>
</section>